<h1><%= @task.title %></h1>

<%= @task.details %>

<% if @task.completed == true %> 
        <p>This task is completed</p>
<% else %>
        <p>This task is not completed yet</p>
<% end %>

<%= link_to "volver al listado", tasks_path %>
<%= link_to "borrar", task_path(@task), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to "editar task", task_edit_path %>
